<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Password Reset Successful</title>
  </head>

  <body>
    <p>Your password has been reset successfully.</p>
  </body>
</html>
