<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Password Reset</title>
  </head>

  <body>
    <h1>Change Spent It Password</h1>
    <label for="fname">New Password:</label><br />
    <input type="text" id="password" name="password" value="" /><br />
    <label for="lname">Confirm Password:</label><br />
    <input
      type="text"
      id="passwordConfirmation"
      name="passwordConfirmation"
      value=""
    /><br /><br />
    <input type="button" onclick="resetPassword()" value="Submit" />
    <p id="error"></p>
    <script>
      let resetPassword = async () => {
        var token = "<%= token %>";
        if (!token) {
          document.write("It looks like there was a problem.");
        }
        var pw = document.getElementById("password").value;
        var cpw = document.getElementById("passwordConfirmation").value;
        if (!pw || pw.length < 8) {
          document.getElementById("error").innerHTML =
            "Passwords must be at least 8 characters long.";
          return;
        }
        if (!cpw || !(pw === cpw)) {
          document.getElementById("error").innerHTML =
            "Passwords do not match.";
          return;
        }
        // Fetch request
        var requestBody = {
          password: pw,
          token: token,
        };

        var options = {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(requestBody),
        };

        fetch("http://localhost:5000/auth/newPassword", options)
          .then(() => {
            document.write("Your password has been changed successfully.");
          })
          .catch(() => {
            document.write("There was a problem resetting your password.");
          });
      };
    </script>
  </body>
</html>
